<!doctype html>

<html>
    <head>
        <title>Agenda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="css/cssAgenda.css">
    </head>
    <body>

        <div>

            <h2>Política de privacidad</h2>
            <h4>POLÍTICA DE SEGURIDAD DE LA INFORMACIÓN</h4>

            <div class="container">
                <ol>
                    <li>
                        <h3>Resumen de la política:</h3> La información debe ser siempre protegida, cualquiera que sea su forma de ser compartida, comunicada o almacenada.
                    </li>
                    <li>
                        <h3>Introducción:</h3>
                        <ol>
                            <li>
                                La información puede existir en diversas formas: impresa o escrita en papel, almacenada electrónicamente, transmitida por correo o por medios electrónicos, mostrada en proyecciones o en forma oral en las conversaciones.
                            </li>
                            <li>
                                La seguridad de la información es la protección de la información contra una amplia gama de amenazas con el fin de garantizar la continuidad del negocio, minimizar los riesgos empresariales y maximizar el retorno de las inversiones y oportunidades de negocio.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Alcance:</h3>
                        <ol>
                            <li>
                                Esta política apoya la política general del Sistema de Gestión de Seguridad de la Información de la organización.
                            </li>
                            <li>
                                Esta política es de consideración por parte de todos los miembros de la organización.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Objetivos de seguridad de la información:</h3>
                        <ol>
                            <li>
                                Comprender y tratar los riesgos operacionales y estratégicos en seguridad de la información para que permanezcan en niveles aceptables para la organización.
                            </li>
                            <li>
                                La protección de la confidencialidad de la información relacionada con los clientes y con los planes de desarrollo.
                            </li>
                            <li>
                                La conservación de la integridad de los registros contables.
                            </li>
                            <li>
                                Los servicios Web de acceso público y las redes internas cumplen con las especificaciones de disponibilidad requeridas.
                            </li>
                            <li>
                                Entender y dar cobertura a las necesidades de todas las partes interesadas.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Principios de seguridad de la información:</h3>
                        <ol>
                            <li>
                                Esta organización afronta la toma de riesgos y tolera aquellos que, en base a la información disponible, son comprensibles, controlados y tratados cuando es necesario. Los detalles de la metodología adoptada para la evaluación del riesgo y su tratamiento se encuentran descritos en la política del SGSI.
                            </li>
                            <li>
                                Todo el personal será informado y responsable de la seguridad de la información, según sea relevante para el desempeño de su trabajo.
                            </li>
                            <li>
                                Se dispondrá de financiación para la gestión operativa de los controles relacionados con la seguridad de la información y en los procesos de gestión para su implantación y mantenimiento.
                            </li>
                            <li>
                                Se tendrán en cuenta aquellas posibilidades de fraude relacionadas con el uso abusivo de los sistemas de información dentro de la gestión global de los sistemas de información.
                            </li>
                            <li>
                                Se harán disponibles informes regulares con información de la situación de la seguridad.
                            </li>
                            <li>
                                Los riesgos en seguridad de la información serán objeto de seguimiento y se adoptarán medidas relevantes cuando existan cambios que impliquen un nivel de riesgo no aceptable.
                            </li>
                            <li>
                                Los criterios para la clasificación y la aceptación del riesgo se encuentran referenciados en la política del SGSI.
                            </li>
                            <li>
                                Las situaciones que puedan exponer a la organización a la violación de las leyes y normas legales no serán toleradas.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3>Responsabilidades:</h3>
                        <ol>
                            <li>
                                El equipo directivo es el responsable de asegurar que la seguridad de la información se gestiona adecuadamente en toda la organización.
                            </li>
                            <li>
                                Cada gerente es responsable de garantizar que las personas que trabajan bajo su control protegen la información de acuerdo con las normas establecidas por la organización.
                            </li>
                            <li>
                                El responsable de seguridad asesora al equipo directivo, proporciona apoyo especializado al personal de la organización y garantiza que los informes sobre la situación de la seguridad de la información están disponibles.
                            </li>
                            <li>
                                Cada miembro del personal tiene la responsabilidad de mantener la seguridad de información dentro de las actividades relacionadas con su trabajo.
                            </li>                         
                        </ol>
                    </li>
                    <li>
                        <h3>Indicadores clave:</h3>
                        <ol>
                            <li>
                                Los incidentes en seguridad de la información no se traducirán en costes graves e inesperados, o en una grave perturbación de los servicios y actividades comerciales.
                            </li>
                            <li>
                                Las pérdidas por fraude serán detectadas y permanecerán dentro de unos niveles aceptables.
                            </li>
                            <li>
                                La aceptación del cliente de los productos o servicios no se verá afectada negativamente por aspectos relacionados con la seguridad de la información.
                            </li>                                                 
                        </ol>
                    </li>
                    <li>
                        <h3>Políticas relacionadas:</h3>A continuación, se detallan aquellas políticas que proporcionan principios y guía en aspectos específicos de la seguridad de la información:
                        <ol>
                            <li>
                                Política del Sistema de Gestión de Seguridad de la Información (SGSI).
                            </li>
                            <li>
                                Política de control de acceso físico.
                            </li>
                            <li>
                                Política de limpieza del puesto de trabajo.
                            </li>
                            <li>
                                Política de software no autorizado.
                            </li>
                            <li>
                                Política de descarga de ficheros (red externa/interna).
                            </li>
                            <li>
                                Política de copias de seguridad.
                            </li>
                            <li>
                                Política de intercambio de información con otras organizaciones.
                            </li>
                            <li>
                                Política de uso de los servicios de mensajería.
                            </li>
                            <li>
                                Política de retención de registros.
                            </li>
                            <li>
                                Política sobre el uso de los servicios de red.
                            </li>
                            <li>
                                Política de uso de informática y comunicaciones en movilidad.
                            </li>
                            <li>
                                Política de teletrabajo.
                            </li>
                            <li>
                                Política sobre el uso de controles criptográficos.
                            </li>
                            <li>
                                Política de cumplimiento de disposiciones legales.
                            </li>
                            <li>
                                Política de uso de licencias de software.
                            </li>
                            <li>
                                Política de protección de datos y privacidad.
                            </li>   
                        </ol>
                    </li>
                </ol>
                <p>
                    En un nivel inferior, la política de seguridad de la información debe ser apoyada por otras normas o procedimientos sobre temas específicos que obligan aún más la aplicación de los controles de seguridad de la información y se estructuran normalmente para tratar las necesidades de determinados grupos dentro de una organización o para cubrir ciertos temas.
                </p>
                <h3>EJEMPLOS DE ESTOS TEMAS DE POLÍTICA INCLUYEN:</h3>
                <ol>
                    <li>
                        Control de acceso.
                    </li>
                    <li>
                        Clasificación de la información.
                    </li>
                    <li>
                        La seguridad física y ambiental.
                    </li>
                </ol>
                <h3>Y MÁS DIRECTAMENTE DIRIGIDAS A USUARIOS:</h3>
                <ol>
                    <li>
                        El uso aceptable de los activos.
                    </li>
                    <li>
                        Escritorio limpio y claro de la pantalla.
                    </li>
                    <li>
                        La transferencia de información.
                    </li>
                    <li>
                        Los dispositivos móviles y el teletrabajo.
                    </li>
                    <li>
                        Las restricciones a la instalación de software y el uso.
                    </li>
                    <li>
                        Copia de seguridad.
                    </li>
                    <li>
                        La transferencia de información.
                    </li>
                    <li>
                        La protección contra el malware.
                    </li>
                    <li>
                        La gestión de vulnerabilidades técnicas.
                    </li>
                    <li>
                        Controles criptográficos.
                    </li>
                    <li>
                        Las comunicaciones de seguridad.
                    </li>
                    <li>
                        La intimidad y la protección de la información personal identificable.
                    </li>
                </ol>
                <p>
                    Estas políticas/normas/procedimientos deben ser comunicadas a los empleados y partes externas interesadas. La necesidad de normas internas de seguridad de la información varía dependiendo de las organizaciones.
                </p>
                <p>
                    Cuando algunas de las normas o políticas de seguridad de la información se distribuyen fuera de la organización, se deberá tener cuidado de no revelar información confidencial. Algunas organizaciones utilizan otros términos para estos documentos de política, como: normas, directrices o reglas.
                </p>
                <p>
                    Todas estas políticas deben servir de apoyo para la identificación de riesgos mediante la disposición de controles en relación a un punto de referencia que pueda ser utilizado para identificar las deficiencias en el diseño e implementación de los sistemas, y el tratamiento de los riesgos mediante la posible identificación de tratamientos adecuados para las vulnerabilidades y amenazas localizadas.
                </p>
                <p>
                    Esta identificación y tratamiento de los riesgos forman parte de los procesos definidos en la sección de Principios dentro de la política de seguridad o, como se referencia en el ejemplo, suelen formar parte de la propia política del SGSI, tal y como se observa a continuación.
                </p>
                <h4>
                    POLÍTICA DE SGSI
                </h4>
                <p>
                    En vista de la importancia para el correcto desarrollo de los procesos de negocio, los sistemas de información deben estar protegidos adecuadamente.
                </p>
                <p>
                    Una protección fiable permite a la organización percibir mejor sus intereses y llevar a cabo eficientemente sus obligaciones en seguridad de la información. La inadecuada protección afecta al rendimiento general de una empresa y puede afectar negativamente a la imagen, reputación y confianza de los clientes, pero, también, de los inversores que depositan su confianza, para el crecimiento estratégico de nuestras actividades a nivel internacional.
                </p>
                <p>
                    El objetivo de la seguridad de la información es asegurar la continuidad del negocio en la organización y reducir al mínimo el riesgo de daño mediante la prevención de incidentes de seguridad, así como reducir su impacto potencial cuando sea inevitable.
                </p>
                <p>
                    Para lograr este objetivo, la organización ha desarrollado una metodología de gestión del riesgo que permite analizar regularmente el grado de exposición de nuestros activos importantes frente a aquellas amenazas que puedan aprovechar ciertas vulnerabilidades e introduzcan impactos adversos a las actividades de nuestro personal o a los procesos importantes de nuestra organización.
                </p>
                <p>
                    El éxito en el uso de esta metodología parte de la propia experiencia y aportación de todos los empleados en materia de seguridad, y mediante la comunicación de cualquier consideración relevante a sus responsables directos en las reuniones semestrales establecidas por parte de la dirección, con el objeto de localizar posibles cambios en los niveles de protección y evaluar las opciones más eficaces en coste/beneficio de gestión del riesgo en cada momento, y según el caso.
                </p>
                <p>
                    Los principios presentados en la política de seguridad que acompaña a esta política fueron desarrollados por el grupo de gestión de la información de seguridad con el fin de garantizar que las futuras decisiones se basen en preservar la confidencialidad, integridad y disponibilidad de la información relevante de la organización. La organización cuenta con la colaboración de todos los empleados en la aplicación de las políticas y directivas de seguridad propuestas.
                </p>
                <p>
                    El uso diario de los ordenadores por el personal determina el cumplimiento de las exigencias de estos principios y un proceso de inspección para confirmar que se respetan y cumplen por parte de toda la organización. Adicionalmente a esta política, y a la política de seguridad de la organización, se disponen de políticas específicas para las diferentes actividades.
                </p>
                <p>
                    Todas las políticas de seguridad vigentes permanecerán disponibles en la intranet de la organización y se actualizarán regularmente. El acceso es directo desde todas las estaciones de trabajo conectadas a la red de la organización y mediante un clic de ratón desde la página Web principal en el apartado Seguridad de la Información. El objetivo de la política es proteger los activos de información de la organización en contra de todas las amenazas y vulnerabilidades internas y externas, tanto si se producen de manera deliberada como accidental.
                </p>
                <h3>
                    LA DIRECCIÓN EJECUTIVA DE LA EMPRESA ES LA RESPONSABLE DE APROBAR UNA POLÍTICA DE SEGURIDAD DE LA INFORMACIÓN QUE ASEGURE QUE:
                </h3>
                <ol>
                    <li>
                        La información estará protegida contra cualquier acceso no autorizado.
                    </li>
                    <li>
                        La confidencialidad de la información, especialmente aquella relacionada con los datos de carácter personal de los empleados y clientes.
                    </li>
                    <li>
                        La integridad de la información se mantendrá en relación a la clasificación de la información (especialmente la de “uso interno”).
                    </li>
                    <li>
                        La disponibilidad de la información cumple con los tiempos relevantes para el desarrollo de los procesos críticos de negocio.
                    </li>
                    <li>
                        Se cumplen con los requisitos de las legislaciones y reglamentaciones vigentes, especialmente con la Ley de Protección de Datos y de Firma Electrónica.
                    </li>
                    <li>
                        Los planes de continuidad de negocio serán mantenidos, probados y actualizados al menos con carácter anual.
                    </li>
                    <li>
                        La capacitación en materia de seguridad se cumple y se actualiza suficientemente para todos los empleados.
                    </li>
                    <li>
                        Todos los eventos que tengan relación con la seguridad de la información, reales como supuestos, se comunicarán al responsable de seguridad y serán investigados.
                    </li>
                </ol>
                <p>
                        Adicionalmente, se dispone de procedimientos de apoyo que incluyen el modo específico en que se deben acometer las directrices generales indicadas en las políticas y por parte de los responsables designados.
                </p>
                <p>
                     El cumplimiento de esta política, así como de la política de seguridad de la información y de cualquier procedimiento o documentación incluida dentro del repositorio de documentación del SGSI, es obligatorio y atañe a todo el personal de la organización.   
                </p>
                <p>
                    Las visitas y personal externo que accedan a nuestras instalaciones no están exentas del cumplimiento de las obligaciones indiciadas en la documentación del SGSI, y el personal interno observará su cumplimiento.    
                </p>
                <p>
                        En cualquier caso, de duda, aclaración o para más información sobre el uso de esta política y la aplicación de su contenido, por favor, consulte por teléfono o e-mail al responsable del SGSI designado formalmente en el organigrama corporativo.
                </p>
                <p>Información obtenida de: <a href="https://www.ceupe.com/blog/ejemplo-politica-seguridad-informacion-y-sgsi.html">Ceupe</a></p>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <!-- Always remember to call the above files first before calling the bootstrap.min.js file -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


    </body>
</html>
